.root {
}
.header {
  height: 140px;
  border-bottom: 8px solid #fff;
  text-align: center;
  color: #2ebbcd;
  line-height: 5.7em;
  font-size: 33px;
}

.profile_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  margin: 30px auto;
  padding: 0 15px;
  min-height: 300px;

}
table{
    border-collapse: collapse;
    width: 100%;
}
.table_data thead{
    background: #000; 
	color: white; 
	font-weight: bold; 
}
.table_data thead tr th{
    text-align: left;
    line-height: 1.6em;
    padding:5px 0px;
    margin-bottom: 40px !important;
}
.table_data thead tr th:nth-child(5){
    text-align: center;

   
}
.table_data tbody tr{
    border-bottom: 1px solid black !important;
}

.table_data tbody tr td:nth-child(1){
    width: 250px!important;
    padding: 50px 40px;

}
.table_data tbody tr td{
    box-sizing: border-box;
   
}

.table_data tbody tr td:nth-child(5){
    width: 200px!important;
    padding: 50px 40px;
    text-align: center;

}
.span{
  color: #2ebbcd;
  cursor: pointer;
}
.total_amount{
    display: flex;
}

.total_amount div{
    width: 50%;
    box-sizing: border-box;
}
.total_amount div button{
    width: 350px;
    text-align: center;
    outline: none;
    color: #fff;
    font-weight: 900;
    background-color: #2ebbcd;
    padding:13px;
    margin-top:10px;
    border: none;
}
.total_amount div button:hover{
   background:#E18738;
}
.total_amount div:nth-child(2){
    display: flex;
    flex-direction: column;
 }
.float_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.qty_number{
    width: 55px;
    height: 40px;
    padding:10px;
    border:1px solid #2EBBCD;
    border-bottom: 2px solid #2EBBCD;
    outline: #F2923C;
}