.root{
    margin-top: 10px;
    display: grid;
    place-items: center;
    background-color: #e53361;
    text-align: center;
    color: #fff;
    padding: 40px 0;
}
.wrapper{
    padding:0px 30px;
    margin:0px 150px;
     transition: 500ms;
  
}
.outer{
    margin: 38px 0;
    position: relative;
}
.freeshipping{
    width: 100%;
    display: flex; 
    flex-direction: row; 
    position: absolute;
    place-items: center;
    font-size: 24px;
    font-family: 'Playball', cursive;
    font-family: 'Volkhov', serif;
    top:-14.5px;
    text-align: center;
}
.freeshipping::after{
    border-bottom: 2px solid white;
    content: '';
    margin-left: 15px;
    flex: 1; 
}
.freeshipping::before{
    border-bottom: 2px solid white;
    content: '';
    margin-right: 15px;
    flex: 1 ; 
}     
.inner_content{
    border: 2px solid #fff;
    text-align: center;
    border-top: 0px;
    padding: 20px 30px 10px 30px;
}

.inner_content>p{
    margin: 25px 0;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 22px;
    word-spacing:6px;
}

@media screen and (max-width:950px){
    .wrapper{
        padding:0px 30px;
        margin:0px 0px;
    }
    .inner_content>p{
        font-size: 20px;
    }
    
}
@media screen and (max-width:770px){
    .root{
        width: 100%;
        margin:0px;
        border-top:1px solid #fff;
    }
}

@media screen and (max-width:420px){
    .inner_content>p{
        font-size: 16px;
    }
    
}